
/ {
	chosen {
		zephyr,usb-device = &zephyr_udc0;
		zephyr,console = &cdc_acm_uart0;
		zephyr,shell-uart = &cdc_acm_uart0;
	};

	fstab {
		compatible = "zephyr,fstab";
		lfs1: lfs1 {
			compatible = "zephyr,fstab,littlefs";
			mount-point = "/root";
			partition = <&storage_partition>;
			automount;
			read-size = <16>;
			prog-size = <16>;
			cache-size = <64>;
			lookahead-size = <32>;
			block-cycles = <512>;
		};
	};

	leds {
		led_run: led_1 {
			gpios = <&gpio0 22 GPIO_ACTIVE_HIGH>;
			label = "led_run";
		};
		led_key_pad: led_2 {
			gpios = <&gpio0 3 GPIO_ACTIVE_HIGH>;
			label = "led_key_pad";
		};
	};
};

&flash0 {

	partitions {
		/*
		 * Usable flash. Starts at 0x100, after the bootloader. The partition
		 * size is 2MB minus the 0x100 bytes taken by the bootloader.
		 */
		code_partition: partition@100 {
			label = "code-partition";
			reg = <0x100 (DT_SIZE_M(1) - 0x100)>;
			read-only;
		};
		storage_partition: partition@100000 {
			label = "storage_partition";
			reg = <0x00100000 0x00100000>;
		};
	};
};

zephyr_udc0: &usbd {
    cdc_acm_uart0: cdc_acm_uart0 {
        compatible = "zephyr,cdc-acm-uart";
    };
};

&uart0 {
	current-speed = <9600>;

	modbus1 {
		compatible = "zephyr,modbus-serial";
		status = "okay";
	};
};

&uart1 {
	current-speed = <9600>;
	status = "okay";
	pinctrl-0 = <&uart1_default>;
    pinctrl-names = "default";
};

&i2c0 {
	clock-frequency = <I2C_BITRATE_STANDARD>;
};

&pinctrl {
	uart1_default: uart1_default {
		group1 {
			pinmux = <UART1_TX_P8>;
		};
		group2 {
			pinmux = <UART1_RX_P9>;
			input-enable;
		};
	};
};